html,
body {
    background-color: #131313;
    color: #fafafa;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12vmin;
    line-height: 1.25;
    margin: 0;
}
button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    padding: 12px;
}

.colour-red {
    color: red;
}
.container {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
}
.current-state {
    display: block !important;
    opacity: 1 !important;
    pointer-events: all !important;
    visibility: visible !important;
}
.center-y {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.screen {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;
    visibility: hidden;
    width: 100%;

    /* disable select */
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
.text-center {
    text-align: center;
}
.w-100 {
    width: 100%;
}

/* small components */
#title-container {
    font-size: .85rem;
}
#title {
    font-size: 1em;
    line-height: 1;
    margin: 0;
}
#red-bar {
    border: 0;
    border-top: 2px solid red;
    padding: 0;
    margin: 8px 0;
}
#mark-sutherland {
    font-size: .3rem;
    margin: 0;
}
#enter-button {
    font: inherit;
    font-weight: 600;
}

#codex-container {
    display: inline-block;
    font-size: 2.2vh;
    text-align: center;
    width: 100%;
}
@media (min-width: 768px) {
    #codex-container {
        font-size: 2.65vmin;
    }
}
#codex {
    display: inline-block;
    text-align: justify;
    text-align-last: justify;
    padding: 8px;
}
#codex .line::after {
    /* hack for older browsers 
     * text-align: justify doesn't work
     * on single lines, so we need to 'add'
     * a line with a pseudo element.
     */
    content: "";
    display: inline-block;
    width: 100%;	
}
#codex .letter {
    transition: opacity 3s ease-in;
}
#codex-instructions {
    text-align: center;
    padding: 8px;
}
#codex-toolbar {
    bottom: 0;
    left: 0;
    padding: 16px;
    position: fixed;
}
/* 
#screen-info {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0 auto;
    max-height: 100vh;
    max-width: 560px;
    padding: 16px;
    position: relative;
    text-align: left;
    overflow: auto;
}
#screen-info h4 {
    margin: 16px 0 0 0;
}
#screen-info p {
    margin: 16px 0 0 0;
}
#screen-info p:last-of-type {
    margin-bottom: 32px;
}
#info-exit-button {
    position: sticky;
    top: 16px;
    float: right;
} */

/* transitions */
.fade-in {
    opacity: 0;
    visibility: visible;
}
.fading-in {
    opacity: 1;
    transition: opacity .2s ease-in;
}
.fade-out {
    opacity: 1;
    visibility: visible;
}
.fading-out {
    opacity: 0;
    transition: opacity .2s ease-in;
}