html,
body {
    background-color: #131313;
    color: #fafafa;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12vmin;
    line-height: 1.25;
    margin: 0;
}
.colour-red {
    color: red;
}

.main-container {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
}
.main-container section {
    left: 50%;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}


.current-state {
    opacity: 1 !important;
    visibility: visible !important;
}
.fade-in {
    opacity: 0;
    visibility: visible;
}
.fading-in {
    opacity: 1;
    transition: opacity .2s ease-in;
}
.fade-out {
    opacity: 1;
    visibility: visible;
}
.fading-out {
    opacity: 0;
    transition: opacity .2s ease-in;
}

#screen-title {
    width: 100%;
}
#main-title {
    line-height: 1;
    font-size: .85rem;
    padding: 0 0 8px 0;
    margin: 0 0 8px 0;
    border-bottom: 4px solid red;
}
#mark-sutherland {
    font-size: .3rem;
    margin: 0;
}
#enter-button {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font: inherit;
    font-size: .85rem;
    font-weight: 600;
}

#codex-container {
    cursor: default;
    font-size: .2rem;
    text-align: justify;
    text-align-last: justify;
    /* disable select */
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
#codex-container .line::after {
    /* hack for older browsers 
     * text-align: justify doesn't work
     * on single lines, so we need to 'add'
     * a line with a pseudo element.
     */
    content: "";
    display: inline-block;
    width: 100%;	
}
#codex-container .letter {
    transition: opacity 3s ease-in;
}
#codex-instructions {
    bottom: 0;
    font-size: .2rem;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    transition: opacity .5s ease-in-out;
}