html,
body {
    background-color: #131313;
    color: #fafafa;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10vh;
    height: 100%;
    width: 100%;
    margin: 0;
}
.colour-red {
    color: red;
}

.codex-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;;
    min-height: 100%;
    min-width: 100%;
    text-align: center;
}
.codex-title {
    line-height: 1;
    padding: 0 0 8px 0;
    margin: 0 0 8px 0;
    border-bottom: 4px solid red;
}
.codex-enter-button {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font: inherit;
}
.codex-paragraph {
    font-size: .25rem;
    text-align: justify;
    text-align-last: justify;
}
.codex-paragraph span {
    display: block;
}
.codex-paragraph span::after {
    /* hack for older browsers 
     * text-align: justify doesn't work
     * on single lines, so we need to 'add'
     * a line with a pseudo element.
     */
    content: "";
    display: inline-block;
    width: 100%;	
}